@charset "utf-8";

/**
* Work
* ------------------
* hj.jang
*/


//status
.navbar.type_status {
  top: 10px;
}
.status.type_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 501;
}
.section.nogap {
  margin-top: 12px;
}
.item_wrap {
  .item_link {
    display: block;
    padding: 16px 0;
    color: #66666B;
    font-size: 15px;
  }
}

//상품
.product_content {
  .product_price_info {
    .title_area {
      align-items: center;
      margin-bottom: 3px;
      .h4 {
        font-size: $fz_sm;
      }
      .btn.round_line {
        padding: 5px 8px;
        color: #66666B;
        font-weight: $fw_regular;
        border-color: #D1D1D6;
        border-radius: 30px;
        i.svg_arrow_link {
          width: 24px;
          height: 24px;
        }
      }
    }
    .product_price {
      margin-bottom: 10px;
      color: #222227;
      font-size: 30px;
      font-weight: $fw_bold;
      line-height: 42px;
      span {
        font-size: 24px;
        font-weight: $fw_medium;
      }
    }
    .tag_wrap {
      .tag {
        padding: 3px 14px;
        font-size: $fz_sm;
      }
    }
  }
  .import_link {
    display: flex;
    align-items: center;
    height: 28px;
    padding-left: 36px;
    background:url($svg_recall) no-repeat;background-size: 28px 28px;
    .btn.text {
      text-decoration: none;
    }
  }
  .btn_area + .banner {
    margin-top: 16px;
  }

  //플랜 및 담보 선택
  .plan_wrap {
    padding: 56px 20px 20px;
    .plan_menu {
      display: flex;
      align-items: flex-end;
      margin-bottom: 12px;
      background-color: #F1F1F3;
      border-radius: 8px;

      .plan_menu_option {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        text-align: center;
        a {
          width: 100%;
          padding: 16px 22px;
          color: #222227;
          font-size: $fz_sm;
          font-weight: $fw_bold;
          em {
            display: block;
            margin-bottom: 4px;
          }
          .num {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
          }
        }
        &.on {
          position: relative;
          a {
            background-color: #fff;
            border: 1px solid #F8670D;
            border-radius: 0 0 8px 8px;
          }
          .num {
            color: #F8670D;
          }
          .plan_label {
            position: absolute;
            top: -32px;
            left: 0;
            right: 0;
            display: block;
            height: 32px;
            padding: 4px 0;
            color: #fff;
            font-size: $fz_sm;
            background-color: #F8670D;
            border: 1px solid #F8670D;
            border-radius: 8px 8px 0 0;
          }
        }
        .plan_label {
          width: 100%;
          display: none;
        }

        & a:before {
          display: block;
          width: 100%;
          height: 28px;
          background-size: 28px;
          content: '';
        }
        &.smart a:before {background:url($svg_plan_smart) center no-repeat;}
        &.standard a:before {background:url($svg_plan_standard) center no-repeat;}
        &.premium a:before {background:url($svg_plan_premium) center no-repeat;}
      
      }
    }
    .plan_list {
      margin-top: 32px;
      .plan_list_item {
        margin-top: 8px;
        &:first-child {
          margin-top: 0;
        }
        dt {
          padding: 12px 0;
          color: #222227;
          font-size: $fz_sm;
        }
        dd {
          display: flex;
          align-items: center;
          justify-content: space-between;
          div {
            flex: 1;
            padding: 10px 28px;
            text-align: center;
            border-bottom: 1px solid #F3F4F6;
          }
          .on {
            color: #222227;
            font-size: 15px;
            font-weight: $fw_bold;
            border-bottom-color: #FFF4EB;
            background-color: #FFF4EB;
          }
        }
      }
    }
  }
}

