@charset "utf-8";

/**
* module.filter
* ------------------
*/

/*
[3/30] accordion 으로 대체

.filter{
	.filter_wrap{

	}

	.filter_head{
		padding: 15px 20px;
	}

	.filter_body{
		padding: 24px 20px;
	}
	.filter_footer{
		padding: 36px 20px 24px;

	}

	.filter_btn{
		position: relative; display: block;
	}

}*/